@font-face {
    font-family: 'star_jediregular';
    src: url('/utils/fonts/starjedi-webfont.woff2') format('woff2'),
        url('/utils/fonts/starjedi-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    }
    @font-face {
        font-family: 'star_jedi_hollowregular';
        src: url('/utils/fonts/starjhol-webfont.woff2') format('woff2'),
             url('/utils/fonts/starjhol-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    
    }
    
    body {background-image: url('/utils/pics/gifs/coruscant.gif'); background-size:cover; background-repeat: repeat;}
    p{color: green; font-family: 'starjedi-webfont'; color: yellowgreen;}
    h1{text-align:center; color: yellow; font-size: 3vw; font-family: 'star_jedi_hollowregular'; }
    .photo
    {
        float: left;
        width: 35vw;
        height: 16.5vw;
        border: 3.5vw yellow;
        padding: 3.5vw;
        margin: 1.5vw;
        margin-left: 11vw;
        text-align: center;
    }
    .Form
    {
        float: right;
        width: 20vw;
        height: 16.5vw;
        border: 1vw whitesmoke;
        padding: 3.5vw;
        margin: 1.5vw;
        margin-right: 11vw; 
     }
     .button
     {
         width: 5vw;
         height: 2vw;
        background-color: red;
        color: yellow;
        font-size: 1vw;
    }
    .text
    {
        width: 22vw;
        height: 2vw;
    }
    .dp
    {
        width: 25vw;
        height: 25vw;
        border-radius: 50%;
        overflow: hidden;
        display: inline-block;
        object-fit: contain;
    }